.Navbar {
  display: flex;
  padding: 0 130px;
  background-color: #ffffff; 
  font-family: "Open Sans";
  align-items: center;
}

.Navbar .brand {
    flex: 1 1 25%;
    margin-right: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Navbar .brand img {
  width: 220px;
}

.Navbar .bar {
  height: 50px;
  background-color: #ebebeb;
  flex: 1 0 3px;
}

.Navbar .data {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex: 1 1 75%;
}

.Navbar .phone {
  flex: 1 1 60%;
  margin-left: 3.5em;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Navbar .phone img {
  width: 45px;
  padding-right: 13px;
}

.Navbar .userData {
  flex: 1 1 13%;
  padding: 5px;
  display: flex;
  font-weight: bold;
  border: 2px solid #ebebeb;
}

.Navbar .userData .userInfo {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.Navbar .userData .userInfo img {
  width: 35px;
  padding-bottom: 10px;
}

.Navbar .userData .arrow {
  display: flex;
  flex-direction: column;
}


.Navbar .userData .flecha {
  width: 10px;
}

@media (max-width: 1200px) {
  .Navbar {
    padding: 0 35px;
  }

  .Navbar .brand {
    flex: 1 1 25%;
  }

  .Navbar .brand img {
    width: 175px;
  }

  .Navbar .phone {
    flex: 1 1 55%;
    margin-left: 2em;
  }

  .Navbar .phone img {
    width: 35px;
    padding-right: 10px;
  }

  .Navbar .userData {
    flex: 1 1 15%;
  }
}

@media (max-width: 800px) {
  .Navbar {
    padding: 0;
    padding-right: 5px;
  }

  .Navbar .brand {
    flex: 1 1 30%;
  }

  .Navbar .brand img {
    width: 150px;
  }

  .Navbar .phone {
    flex: 1 1 50%;
    margin-left: 1.5em;
  }

  .Navbar .phone img {
    width: 25px;
    padding-right: 7px;
  }

  .Navbar .phone span {
    font-size: 12.5px;
  }

  .Navbar .userData .userInfo span {
    font-size: 12.5px;
  }

  .Navbar .userData .userInfo img {
    width: 30px;
    padding-bottom: 5px;
  }
}

@media (max-width: 500px) {
  .Navbar {
    flex-direction: column;
    padding: 0;
    padding-top: 5px;
    justify-content: center;
    align-items: center;
  }

  .Navbar .brand {
    width: 100%;
    margin:0;
  }

  .Navbar .brand img {
    width: 220px;
  }

  .Navbar .data {
    width: 100%;
    flex: 1 1 100%;
  }

  .Navbar .phone {
    flex: 1 1 50%;
  }

  .Navbar .phone {
    flex: 1 1 50%;
  }

  .Navbar .phone img {
    width: 35px;
    padding-right: 13px;
  }

  .Navbar .phone span {
    font-size: 15px;
}

  .Navbar .userData {
    flex: 1 1 25%;
    border: none;
    padding-right: 20px;
  }

  .Navbar .userData .userInfo img {
    width: 35px;
    padding-bottom: 10px;
  }
}