.Navbar {
  display: flex;
  padding: 15px 10px;
  background-color: #ffffff; 
  font-family: "Open Sans";
  align-items: center;
}

.Navbar .brand {
    flex: 1 0 5%;
    margin-left: 9.5em;
    margin-right: 5em;
}

.Navbar .brand img {
  width: 220px;
}

.Navbar .bar {
  height: 50px;
  background-color: #ebebeb;
  flex: 1 0 3px;
}

.Navbar .phone {
  flex: 1 1 75%;
  margin-left: 3.5em;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Navbar .phone img {
  width: 45px;
  padding-right: 13px;
}