body {
    background-color: #ebebeb;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.pt-5 {
    padding-top: 5px;
}

.pb-5 {
    padding-bottom: 5px;
}

.container {
    padding: 1em 5em;
    display: flex;
    flex-wrap: wrap;
}

.container .Card {
    margin: 11px;
}