body {
    background-color: #ebebeb;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.pt-5 {
    padding-top: 5px;
}

.pb-5 {
    padding-bottom: 5px;
}

.container {
    padding: 2em 10em;
    display: flex;
    flex-wrap: wrap;
}

.container .Card {
    margin: 5px 15px;
}

@media (max-width: 1200px) {
    .container {
        padding: 5px 2px;
    }

    .container .Card {
        margin: 5px 15px;
    }
}

@media (max-width: 800px) {
    .container {
        padding: 10px 15px;
    }
}

@media (max-width: 500px) {
    .container {
        padding: 15px 5px;
    }

    .container .Card {
        margin: 5px 5px;
    }
}
