.Card {
    width: 330px;
    border-radius: 5px;
    border: 2px solid #ebebeb;
    background-color: #fff;
}

.Card .header .image {
    height: 248px;
    border: 1px solid transparent;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-repeat: no-repeat;
    background-origin: content-box;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column-reverse;
}

.Card .header .image .text {
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
    color: #fff;
    text-align: center;
}

.Card .body .row {
    display: flex;
    flex-direction: row;
}

.Card .body .row .col {
    display: flex;
    flex-direction: column;
    flex: 1 1 50%;
    align-items: center;
}

